.pageNotFound {
    margin: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    margin: 0;
}

.btnBack {
    position: fixed;
    top: 20px;
    margin-bottom: 20px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    color: var(--accent-color);
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2rem;
}

.btnBack:hover span {
    text-decoration: underline;
    transform: translateX(-4px);
    transition: all 0.3s ease-in-out;
}